<h2>Edit Task</h2>
<form (ngSubmit)="updateTask()" #taskForm="ngForm">
  <!-- Title Field -->
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      [(ngModel)]="task.title"
      name="title"
      required
      placeholder="Enter task title"
      #title="ngModel"
    />
    <div *ngIf="title.invalid && title.touched" class="text-danger">
      Title is required.
    </div>
  </div>

  <!-- Description Field -->
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      [(ngModel)]="task.description"
      name="description"
      required
      placeholder="Enter task description"
      #description="ngModel"
    ></textarea>
    <div *ngIf="description.invalid && description.touched" class="text-danger">
      Description is required.
    </div>
  </div>

  <!-- Due Date Field -->
  <div class="form-group">
    <label for="dueDate">Due Date</label>
    <input
      id="dueDate"
      class="form-control"
      type="date"
      [(ngModel)]="task.dueDate"
      name="dueDate"
      [min]="task.createdAt"

      required
      #dueDate="ngModel"
    />
    <div *ngIf="dueDate.invalid && dueDate.touched" class="text-danger">
      Due Date is required.
    </div>
  </div>

  <!-- Progress Dropdown -->
  <div class="form-group">
    <label for="progress">Progress</label>
    <select
      class="form-control"
      id="progress"
      [(ngModel)]="task.progressName"
    name="progressName"
    required
    #progress="ngModel"
    >
    <option value="" disabled>Select Progress</option>
    <option *ngFor="let progress of progressList" [value]="progress.name">
      {{ progress.name }}
    </option>
    </select>
    <div *ngIf="progress.invalid && progress.touched" class="text-danger">
      Progress is required.
    </div>
  </div>

  <!-- Completed Checkbox -->
  <div class="form-group">
    <label for="completed">Completed</label>
    <input
      type="checkbox"
      id="completed"
      [(ngModel)]="task.completed"
      name="completed"
    />
  </div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">
    Update Task
  </button>
</form>
