<div class="container mt-4">
    <h2>Détails de l'utilisateur</h2>
    <div *ngIf="user">
      <p><strong>ID :</strong> {{ user.iduser }}</p>
      <p><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
      <p><strong>Email :</strong> {{ user.useremail }}</p>
      <p><strong>Rôle :</strong> {{ user.role }}</p>
      <p><strong>Photo de profil :</strong></p>
      <img *ngIf="user.profilePicture" [src]="user.profilePicture" alt="Profile Picture" width="100" />
      <a class="btn btn-primary" [routerLink]="['/user/edit', user.iduser]">Modifier</a>
      <a class="btn btn-secondary" routerLink="/users">Retour</a>
    </div>
  </div>